footer {
  width: 100%;
  height: 48rem;
  background-color: var(--gray-100);
  figure {
    margin: 5.6rem auto;
    position: relative;
    width: 28rem;
    height: 15.5rem;
    border-radius: 1.2rem;
    background-color: var(--gray-100);
    border: solid 2px var(--gray-200);
  }

  img {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  section {
    position: absolute;
    top: 8.8rem;
    left: 2rem;
    text-align: start;
  }
}

.subtitle {
  display: flex;
  flex-direction: column;
  padding-top: 8.8rem;
  gap: 8px;
  text-align: center;
}

