#tags {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  margin-top: 8rem;
  flex-wrap: wrap;
} 

figure {
  display: flex;
  align-items: center;
  gap: .8rem;
  padding: .8rem 1.6rem;
  border-radius: 99.9rem;
  background-color: var(--gray-300);
  color: var(--gray-500);
  font: var(--text-md);
}

.header {
  text-align: center;
  .subtitle {
    display: block;
    margin-top:7.2rem;
  }
  h2 {
    margin-block: .8rem 5.6rem ;
  }
}

#grids {
  display: grid;
  row-gap: 2.4rem;
  margin-bottom: 14.4rem;

  img {
    position: absolute;
    top: 1.9rem;
    left: -1.2rem;
    width: 35.6rem;
    height: 15.6rem;
    object-fit: cover;
    margin-bottom: 2rem;
  }
  .content-tag {
    text-align: start;
    position: absolute;
    top: 18rem;
    left: 5.6rem;
  }
  figure {
    position: relative;
    width: 33rem;    
    height: 28rem;
    padding: 1.2rem;
    border-radius: 1.2rem;
    gap: 2.4rem;
  }
}
